<div class="card text-center">
  <img class="card-img-top" src="{{currentUser.otherImg}}" alt="some other image">
  <div class="card-body">
    <h4 class="card-text">{{currentUser.other}}</h4>
    <p class="card-text">{{currentUser.experience}}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" (click)="currentUser.canEditOther = !currentUser.canEditOther">Edit</button>
  </div>
  <app-other-edit [currentUser]="currentUser" [images]="images" (updateUserEvent)="update($event)" *ngIf="currentUser.canEditOther"></app-other-edit>
</div>
