  <form (submit)="uploadImg()">
    <image-upload buttonCaption="Add a Image" dropBoxMessage="10Mb Limit" [max]="1" [maxFileSize]="1000000000" (uploadFinished)="onUploadStatus($event)"></image-upload>
    <input class="btn btn-info btn-block" type="submit" value="upload">
  </form>
  <div *ngIf="images[0]">
    <button (click)="images[0].editable = !images[0].editable">
      <small>show images</small>
    </button>
    <app-img-list *ngIf="images[0].editable" (deleteImgEvent)="deleteImg($event)" [images]="images"></app-img-list>
  </div>
 




