<html>
  <body>
    <section class="sea">
      <div class="container">
        <div class="content">
          <h1 class="scrollnimate" data-magic-number="4">Hello Parallax</h1>
          <p class="scrollnimate" data-magic-number="4">This p tag will scroll too, however the image is static</p>
          <img src="http://jl.webby.rocks/img/dark_glitter.jpg" title="Glitter" class="img float-left">
        </div>
      </div>
      <div class="container pad">
        <div class="content">
          <h1 class="scrollnimate" data-magic-number="-8">REVERSE</h1>
          <p class="scrollnimate" data-magic-number="-8">These are using negative numbers reversing the flow, thus they move up.
            <small>
              <strong>SOURCE
              </strong>
                  <a href="http://clione.ru/work/jellyfish/">http://clione.ru/work/jellyfish/</a>
                </small>
          </p>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/276620/Jellyfish-cover.jpg" title="Glitter" class="img float-left scrollnimate"
            data-magic-number='-2'>
        </div>
      </div>
    </section>
  </body>
</html>