<router-outlet></router-outlet>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<body id="home" *ngIf="primaryUser != null">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top py-2">
        <div class="container">
            <a href="#" class="navbar-brand">
                <!-- <img src="img/mlogo.png" width="50" height="50" alt=""> -->
                <h3 class="d-inline align-middle">Jimenez</h3>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#summary" class="nav-link">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#authors" class="nav-link">Meet The Authors</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Header -->
    <particles class="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

   
    <img class="headerImg" src="{{primaryUser.myImg}}" alt="kjjk">

</body>
    <app-pheader [primaryUser]="primaryUser"></app-pheader>


    <!-- <div class="pheader"></div> -->


