<body id="home" *ngIf="primaryUser != null">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top py-2">
        <div class="container">
            <a href="#" class="navbar-brand">
                <!-- <img src="img/mlogo.png" width="50" height="50" alt=""> -->
                <h3 class="d-inline align-middle">Jimenez</h3>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#summary" class="nav-link">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#authors" class="nav-link">Meet The Authors</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SHOWCASE -->
    <section id="showcase" class="py-5" [ngStyle]="{'background-image': 'linear-gradient(to right bottom, rgba(' + primaryUser.leftG + '), rgba(' + primaryUser.rightG + ')),
    url(' + primaryUser.headerImg + ')'}">
        <div class="text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h1 class="display-2 text-white mt-5 pt-5">
                            {{primaryUser.title}}
                        </h1>
                        <p id="summary" class="lead">{{primaryUser.subTitle}}</p>
                        <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                            <i class="fa fa-arrow-right"></i> Read More</a>
                    </div>
                    <div class="col-lg-6">
                        <!-- <img src="{{primaryUser.}}" alt="" class="img-fluid d-none d-lg-block"> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Summary -->
    <section  class="bg-dark text-white py-5">
        <div class="container text-center">
            <h4 class="text-white">{{primaryUser.summary}}</h4>
        </div>
    </section>

    <!-- Stacks -->
    <section id="boxes" class="py-5">
        <div class="container">
            <div class="info-header text-center mb-3">
                <h1 class="text-primary pb-3">
                    {{primaryUser.other}}
                </h1>
                <p class="lead pb-3">
                    {{primaryUser.experience}}
                </p>
            </div>
            <div class="row">
                <div *ngFor="let stack of primaryUser._skill" class="col-md">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3 class="text-primary">{{stack.title}}</h3>
                            <p class="text-muted">{{stack.subTitle}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-5 text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- ACCORDION -->
                    <div id="accordion" role="tablist">

                        <div class="card" *ngFor="let stack of primaryUser._skill">
                            <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <div [attr.href]="'#'+stack._id" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fa fa-arrow-circle-down"></i> {{stack.title}}
                                    </div>
                                </h5>
                            </div>

                            <div id="{{stack._id}}" class="collapse">
                                <div class="card-body">
                                    {{stack.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AUTHORS -->
    <section id="authors" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            Projects
                        </h1>
                        <p class="lead pb-3">
                            <!--  -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let project of primaryUser._project" class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{project.img}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>{{project.title}}</h3>
                            <h5 class="text-muted">{{project.subTitle}}</h5>
                            <p>{{project.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section id="contact" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Get In Touch</h3>
                    <p class="lead">If you have any questions, please don’t hesitate to contact using form below…</p>
                    <form (submit)="createMessage()">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="newMessage.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="newMessage.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <textarea type="text" class="form-control" name="text" placeholder="Message" rows="5" [(ngModel)]="newMessage.text"></textarea>
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                    </form>
                </div>
                <div class="col-lg-3 align-self-center">
                    <!-- <img src="img/mlogo.png" alt="" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </section>

    <footer id="main-footer" class="py-5 bg-primary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 ml-auto">
                    <p class="lead">Copyright &copy; 2017</p>
                </div>
            </div>
        </div>
    </footer>

</body>

<router-outlet></router-outlet>
